// Decoration
.underline {
  text-decoration: underline;
}

// Weight
.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

// Variant
.title1 {
  font-size: 2rem;
  line-height: 1.25;
}

.title2 {
  font-size: 1.75rem;
  line-height: 1.286;
}

.title3 {
  font-size: 1.5rem;
  line-height: 1.3334;
}

.title4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.title5 {
  font-size: 1.125rem;
  line-height: 1.3334;
}

.headline {
  font-size: 1rem;
  line-height: 1.5;
}

.body1 {
  font-size: 1rem;
  line-height: 1.5;
}

.body2 {
  font-size: 0.875rem;
  line-height: 1.429;
}

.caption {
  font-size: 0.75rem;
  line-height: 1.3334;
}
