@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body.light {
  background-color: #fafafa;
}

body.dark {
  background-color: #130b1b;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }
}

.ProseMirror {
  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}

.bubble-menu {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0.2rem;
    opacity: 0.6;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}

.floating-menu {
  display: flex;
  padding: 0.2rem;
  border-radius: 0.5rem;
  transform: translateX(20px);
  width: max-content;

  button {
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0.2rem;
    opacity: 0.6;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}
